.details-container {
  padding-top: 150px;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  .main-content {
    display: flex;
    color: antiquewhite;
    padding: 3rem 5rem;
    img {
      width: 30%;
    }
    .description {
      width: 70%;
      padding-left: 40px;
      h1 {
        margin-top: 0;
      }
      .desc {
        display: inline-flex;
        gap: 8px;
        h4 {
          line-height: 25px;
          margin-top: 18px;
          letter-spacing: 2px;
        }
      }
    }
  }
}
